<footer class="footer mt-auto py-3">
  <span>
    <a href="https://github.com/bandantonio/antmarky"><i class="fas fa-check-square"></i> Antmarky.</a> <i class="fa-solid fa-code"></i> with <i class="fa-solid fa-heart"></i> by <a href="https://mister-gold.pro">Anton Zolotukhin</a>
  </span>
</footer>