<nav class="navbar navbar-expand-sm mb-2 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-check-square"></i> Antmarky</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarToggler"
            aria-controls="sidebarToggler"
            aria-label="Toggle sidebar">
    </button>
</nav>