@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semibold"),
      url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
      url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
      url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

body {
  font-family: 'SegoeUI', sans-serif;
  color: #3b454e;
  min-height: 100vh;
  position: relative;
  padding: 3em 0;
}

.navbar-brand {
  margin-left: 1.5em;
}

.navbar-brand:hover {
  color: #fad000;
}

.list_title {
  font-family: 'SegoeUI', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-left: 1em;
  color: #2d2b57;
}

.list_heading {
  font-size: 13px;
  font-weight: 700;
  margin: .8em 0 0 0;
}

[aria-expanded="false"]::before {
  display: inline-block;
  width: 1em;
  font-family: 'Font Awesome 6 Free';
  content: '\f105';
  font-size: 80%;
}

[aria-expanded="true"]::before {
  display: inline-block;
  width: 1em;
  font-family: 'Font Awesome 6 Free';
  content: '\f107';
  font-size: 80%;
}

.list_files {
  list-style: none;
}

.list_files > li {
  margin-left: -.5em;
}

.sidebar, .toc {
  position: fixed;
  overflow: scroll;
}

.powered-by a {
  text-decoration: none;
}

.powered-by a:hover {
  color: #DB504A;
  font-weight: 500;
}

.toc {
  right: 0;
}

.list_item.ind-3 {
  padding-left: 1em;
}

.list_item.ind-4 {
  padding-left: 2em;
}

.list_item.ind-5 {
  padding-left: 3em;
}

.list_item.ind-6 {
  padding-left: 4em;
}

.sidebar_list, .toc_list {
  font-size: 80%;
  list-style: none;
  max-height: 80vh;
}

.sidebar_list a.active {
  color: #DB504A;
  font-weight: 700;
  text-decoration: underline;
}

.sidebar_list a:hover, .toc_list a:hover {
  color: #DB504A;
}

.sidebar_list a, .toc_list a {
  color: #2d2b57;
  text-decoration: none;
}

.toc_list a.active {
  color: #DB504A;
  font-weight: 700;
}

.sidebar_list {
  margin: 0;
  padding-left: .5em;
}

/* Override default Bootstrap styling */
.btn {
  display: inherit;
}

.nav-link {
  display: inherit;
  padding: inherit;
}

.full_content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.content_area {
  margin: 0 auto;
}

.content_area a {
  color: #DB504A;
  text-decoration: underline;
}

.content_area a:hover {
  color: #DB504A;
  text-decoration: none;
}

.content_area a code {
  color: #fad000;
  text-decoration: underline;
}

.content_area a:hover code {
  color: #DB504A;
  text-decoration: none;
}

.navbar, pre, code {
  background-color: #2d2b57;
}

.navbar-brand {
  color: #fad000;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-weight: 700;
  color: #3b454e;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

a.anchor-link {
  font-family: 'Font Awesome 6 Free';
  font-size: 70%;
  opacity: 0;
  display: inline-block;
  padding-left: .5em;
  cursor: pointer;
  text-decoration: none;
}

.h-anchor:hover .anchor-link {
  opacity: .5;
  transition:ease-in
}

.h-anchor .anchor-link:hover {
   opacity: 1;
 }

.content_area li, p {
  font-size: 95%;
}

strong {
  color: #2d2b57;
}

code {
  padding: 1px 2px;
}

code {
  color: #fad000;
}

pre {
  border-radius: 5px;
  position: relative;
}

pre::before {
  content: attr(data-language);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: .7rem;
  position: absolute;
  float: right;
  top: .3rem;
  right: .5rem;
  color: #f7df1e;
}

pre:hover::before {
  right: 1.5rem;
}

.copy-block {
  display: none;
  position: absolute;
  float: right;
  right: .3em;
  top: .1em;
  color: #f7df1e;
  cursor: pointer;
}

.copy-block svg {
  width: 1rem;
  height: 1rem;
}

pre:hover > .copy-block {
  display: block;
}

pre:not(:hover) > .copy-block {
  display: none;
}

li p {
  margin: 0;
}

blockquote {
  border-left: #6c757d solid 7px;
  margin-left: 1em;
  padding: 10px;
  color: #343a40;
  background-color: #dee2e6;
}

blockquote p {
  margin: 0 5px;
}

.callout {
  padding: .5rem 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-left: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius:.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.callout-info {
  border-left-color: rgb(51, 153, 255);
  background-color: rgba(51, 153, 255, .1);
}

.callout-warning {
  border-left-color: rgb(249, 177, 21);
  background-color: rgba(249, 177, 21, .1);
}

.callout-danger {
  border-left-color: rgb(222, 22, 22);
  background-color: rgba(222, 22, 22, .1);
}

.callout-tip {
  border-left-color: rgb(14, 181, 70);
  background-color: rgba(14, 181, 70, .1);
}

.callout-example {
  border-left-color: rgb(50, 31, 219);
  background-color: rgba(50, 31, 219, .1);
}

.callout-secondary, .callout-quote {
  border-left-color: rgb(61, 61, 61);
  background-color: rgba(61, 61, 61, .1);
}

.callout-info .callout-title {
  color: rgb(51, 153, 255);
}

.callout-warning .callout-title {
  color: rgb(249, 177, 21);
}

.callout-danger .callout-title {
  color: rgb(222, 22, 22);
}

.callout-tip .callout-title {
  color: rgb(14, 181, 70);
}

.callout-example .callout-title {
  color: rgb(50, 31, 219);
}

.callout-quote .callout-title {
  color: rgb(61, 61, 61);
}

.callout-title {
  font-size: 80%;
}

.callout-title::before {
  font-family: 'unicons';
  font-size: 20px;
  vertical-align: middle;
  padding: 0 .1em 0 .1em;
}

.callout-info .callout-title::before {
  content: '\e9ad';
}

.callout-warning .callout-title::before {
  content: '\e9b1';
}

.callout-danger .callout-title::before {
  content: '\eafb';
}

.callout-tip .callout-title::before {
  content: '\e90b';
}

.callout-quote .callout-title::before {
  content: '\e810';
}

.callout-example .callout-title::before {
  content: '\e905';
}

.callout p {
  margin:.5em;
}

/* AsciiDoctor-specific styling (start) */
.admonitionblock > table {border-collapse:separate;border:0;background:none;width:100%;position: relative;}
.admonitionblock > table td.icon {position:absolute; top:0;left:0;padding:.2rem .5rem;}
.admonitionblock > table td.icon i::after {content:attr(title);padding-left: .5rem;}
.admonitionblock > table td.icon img {max-width:none}
.admonitionblock > table td.icon .title {font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock > table td.content {padding: 2rem 1rem .75rem;color:rgba(0,0,0,.6);word-wrap:anywhere}
.admonitionblock > table td.content > :last-child > :last-child{margin-bottom:0}
.admonitionblock td.icon [class^="fa icon-"] {font-family: 'unicons';font-size: 20px;}
.admonitionblock td.icon .icon-note::before{content:"\e9ad";color: rgb(51, 153, 255);}
.admonitionblock td.icon .icon-tip::before{content:"\e90b";color: rgb(14, 181, 70);}
.admonitionblock td.icon .icon-warning::before{content:"\e9b1";color: rgb(249, 177, 21);}
.admonitionblock td.icon .icon-caution::before{content:"\eafb";color: rgb(222, 22, 22);}
.admonitionblock td.icon .icon-important::before{content:"\e905";color:#bf0000}

dt,th.tableblock,td.content,div.footnote{text-rendering:optimizeLegibility}
table{background:#fff;margin-bottom:1.25em;border:1px solid #dedede;word-wrap:normal}
table thead,table tfoot{background:#f7f8f7}
table thead tr th,table thead tr td,table tfoot tr th,table tfoot tr td{padding:.5em .625em .625em;font-size:inherit;color:rgba(0,0,0,.8);text-align:left}
table tr th,table tr td{padding:.5625em .625em;font-size:inherit;color:rgba(0,0,0,.8)}
table tr.even,table tr.alt{background:#f8f8f7}
table thead tr th,table tfoot tr th,table tbody tr td,table tr td,table tfoot tr td{line-height:1.6}
h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6{line-height:1.2;word-spacing:-.05em}
h1 strong,h2 strong,h3 strong,#toctitle strong,.sidebarblock>.content>.title strong,h4 strong,h5 strong,h6 strong{font-weight:400}
.center{margin-left:auto;margin-right:auto}
.stretch{width:100%}
.clearfix::before,.clearfix::after,.float-group::before,.float-group::after{content:" ";display:table}
.clearfix::after,.float-group::after{clear:both}
p.tableblock:last-child{margin-bottom:0}
td.tableblock>.content{margin-bottom:1.25em;word-wrap:anywhere}
td.tableblock>.content>:last-child{margin-bottom:-1.25em}
table.tableblock,th.tableblock,td.tableblock{border:0 solid #dedede}
table.grid-all>*>tr>*{border-width:1px}
table.grid-cols>*>tr>*{border-width:0 1px}
table.grid-rows>*>tr>*{border-width:1px 0}
table.frame-all{border-width:1px}
table.frame-ends{border-width:1px 0}
table.frame-sides{border-width:0 1px}
table.frame-none>colgroup+*>:first-child>*,table.frame-sides>colgroup+*>:first-child>*{border-top-width:0}
table.frame-none>:last-child>:last-child>*,table.frame-sides>:last-child>:last-child>*{border-bottom-width:0}
table.frame-none>*>tr>:first-child,table.frame-ends>*>tr>:first-child{border-left-width:0}
table.frame-none>*>tr>:last-child,table.frame-ends>*>tr>:last-child{border-right-width:0}
table.stripes-all>*>tr,table.stripes-odd>*>tr:nth-of-type(odd),table.stripes-even>*>tr:nth-of-type(even),table.stripes-hover>*>tr:hover{background:#f8f8f7}
th.halign-left,td.halign-left{text-align:left}
th.halign-right,td.halign-right{text-align:right}
th.halign-center,td.halign-center{text-align:center}
th.valign-top,td.valign-top{vertical-align:top}
th.valign-bottom,td.valign-bottom{vertical-align:bottom}
th.valign-middle,td.valign-middle{vertical-align:middle}
table thead th,table tfoot th{font-weight:bold}
tbody tr th{background:#f7f8f7}
tbody tr th,tbody tr th p,tfoot tr th,tfoot tr th p{color:rgba(0,0,0,.8);font-weight:bold}
p.tableblock>code:only-child{background:none;padding:0}
p.tableblock{font-size:1em}
/* AsciiDoctor-specific styling (end) */
  
@media (max-width: 576px) {
  .h-anchor {
    scroll-margin-top: 60px;
  }
  #sidebarToggler {
    text-align: center;
  }
  .navbar-toggler {
    color: #fad000;
  }
  .navbar-toggler[aria-expanded="false"]::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f0c9';
  }
  .navbar-toggler[aria-expanded="true"]::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f00d';
  }
  #sidebarToggler .list_title {
    color: #dee2e6;
    margin-left: 0;
  }
  #sidebarToggler .sidebar_list {
    padding: 0;
  }
  .sidebar_list a, .powered-by {
    color: #fad000;
  }
  .sidebar {
    display: none;
  }
  .list_heading {
    margin: 0 auto;
    color: #dee2e6;
  }
  .list_heading:hover {
    color: #dee2e6;
  }
  .toc {
    display: none;
  }
  .content_area {
    width: 85%;
  }
  .powered-by {
    display: none;
  }
}

@media (min-width: 992px) {
  .h-anchor {
    scroll-margin-top: 76px;
  }
  #sidebarToggler {
    display: none !important;
  }
  .powered-by {
    font-size: 70%;
    margin-left: 1em;
    position: fixed;
    bottom: 1em;
  }
  .powered-by a {
    color: #2d2b57;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #sidebarToggler {
    display: none !important;
  }
  .sidebar_list, .toc_list {
    padding-left: 1em;
  }
  .content_area {
    width: 65%;
  }
  .powered-by {
    font-size: 60%;
    margin-left: 1em;
    position: fixed;
    bottom: 1em;
  }
  .powered-by a {
    color: #2d2b57;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #sidebarToggler {
    display: none !important;
  }
  .sidebar_list {
    padding-left: 1em;
  }
  .content_area {
    width: 80%;
    margin: 0 2em 0 auto;
  }
  .toc {
    display: none;
  }
  .powered-by {
    font-size: 50%;
    margin-left: 1em;
    position: fixed;
    bottom: 1em;
  }
  .powered-by a {
    color: #2d2b57;
  }
}
