@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semibold"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

body {
  font-family: 'SegoeUI', sans-serif;
  color: #3b454e;
  min-height: 100vh;
  position: relative;
  padding-bottom: 3em;
}

.navbar-brand {
  margin-left: 1.5em;
}

.navbar-brand:hover {
  color: #fad000;
}

.list_title {
  font-family: 'SegoeUI', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-left: 1em;
  color: #2d2b57;
}

.sidebar {
  border-right: #8899a8 dotted 1px;
}

.toc {
  border-left: #8899a8 dotted 1px;
}

.list_item.ind-3 {
  padding-left: 1em;
}

.list_item.ind-4 {
  padding-left: 2em;
}

.list_item.ind-5 {
  padding-left: 3em;
}

.list_item.ind-6 {
  padding-left: 4em;
}

.sidebar_list, .toc_list {
  font-size: 80%;
  list-style: none;
}

.sidebar_list a.active {
  color: #DB504A;
  text-decoration: underline;
}

.sidebar_list a:hover, .toc_list a:hover {
  color: #DB504A;
}

.sidebar_list a, .toc_list a {
  color: #2d2b57;
  text-decoration: none;
}

.full_content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.content_area {
  margin: 0 2em;
}

.content_area a {
  color: #DB504A;
  text-decoration: underline;
}

.content_area a:hover {
  color: #DB504A;
  text-decoration: none;
}

.content_area a code {
  color: #fad000;
  text-decoration: underline;
}

.content_area a:hover code {
  color: #DB504A;
  text-decoration: none;
}

.navbar, .footer, pre, code {
  background-color: #2d2b57;
}

.navbar-brand, .footer, .footer a {
  color: #fad000;
}

.footer {
  font-size: 70%;
  position: absolute;
  bottom: 0;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #DB504A;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-weight: 700;
  color: #3b454e;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

/* h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
} */

.content_area li, p {
  font-size: 95%;
}

strong {
  color: #2d2b57;
}

code {
  padding: 1px 2px;
}

code {
  color: #fad000;
}

pre {
  border-radius: 5px;
  position: relative;
}

pre::before {
  content: attr(data-language);
  opacity: .75;
  background-color: #f7df1e;
  color: #2d2b57;
  border-radius: 0 0 5px 5px;
  font-size: 12px;
  padding: .1em .4em;
  position: absolute;
  right: 1em;
}

li p {
  margin: 0;
}

blockquote {
  border-left: #6c757d solid 7px;
  margin-left: 1em;
  padding: 10px;
  color: #343a40;
  background-color: #dee2e6;
}

blockquote p {
  margin: 0 5px;
}

.callout {
  padding: .5rem 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-left: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius:.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.callout-info {
  border-left-color: #0059FF;
  background-color: #DBE7FF;
}

.callout-info .callout-title {
  color: #0059FF;
}

.callout-warning {
  border-left-color: #FFBF00;
  background-color: #FFF6DB;
}

.callout-warning .callout-title {
  color: #FFBF00;
}

.callout-danger {
  border-left-color: #FF0800;
  background-color: #FFDCDB;
}

.callout-danger .callout-title {
  color: #FF0800;
}

.callout-tip {
  border-left-color: #04B31B;
  background-color: #D1FED7;
}

.callout-tip .callout-title {
  color: #04B31B;
}

.callout-secondary {
  border-left-color: #3D3D3D;
  background-color: #E3E3E3;
}

.callout-secondary .callout-title {
  color: #3D3D3D;
}

.callout p {
  margin:.5em;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

@media (max-width: 576px) {
  #sidebarToggler {
    text-align: center;
  }
  .navbar-toggler {
    color: #fad000;
  }
  [aria-expanded="false"]::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f0c9';
  }
  [aria-expanded="true"]::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f00d';
  }
  #sidebarToggler .list_title {
    color: #dee2e6;
  }
  .sidebar_list a {
    color: #fad000;
  }
  .sidebar {
    display: none;
  }
  .toc {
    display: none;
  }
  .content_area {
    width: 85%;
  }
}

@media (min-width: 992px) {
  #sidebarToggler {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #sidebarToggler {
    display: none !important;
  }
  .sidebar_list, .toc_list {
    padding-left: 1em;
  }
  .content_area {
    width: 65%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #sidebarToggler {
    display: none !important;
  }
  .sidebar_list {
    padding-left: 1em;
  }
  .content_area {
    width: 70%;
  }
  .toc {
    display: none;
  }
}
